* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Playfair Display", serif;
}

:root{
    --bege: #efba85;
    --marrom-claro: #bd7938;
    --roxo-escuro: #753a98;
    --roxo-claro: #c482cf;
    --roxo-cinza: #b17ca7;
    --rosa: #db5093;
    --rosa2: #c13698;
    --vinho: #9c4b5a;
    --verde-escuro: #0b4f39;
    --cinza-claro:  #efe2f1;
    --preto: #343c54;
}

header {
    background-color: var(--marrom-claro);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primeira {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.primeira img {
    width: 30rem;
    height: 15rem;
}

.primeira p {
    width: 60rem;

}

.segunda {
    background-color: #753a98;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.segunda img {
    width: 30rem;
    height: 15rem;
}

.segunda p {
    width: 50rem;
    padding: 1rem;
}

.terceira {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;

}

.terceira img {
    width: 30rem;
    height: 15rem;
}