* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Playfair Display", serif;
}

:root{
    --bege: #efba85;
    --marrom-claro: #bd7938;
    --roxo-escuro: #753a98;
    --roxo-claro: #c482cf;
    --roxo-cinza: #b17ca7;
    --rosa: #db5093;
    --rosa2: #c13698;
    --vinho: #9c4b5a;
    --verde-escuro: #0b4f39;
    --cinza-claro:  #efe2f1;
    --preto: #343c54;
}

header {
    background-color: #0b4f39;
    height: 6rem;
    display: flex;
    justify-content: center;
}

.primeira {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.primeira img {
    width: 30rem;
}

.primeira p {
    width: 60rem;

}

.segunda {
    background-color: var(--roxo-escuro);
    height: 20rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 20rem;
    padding: 2rem;
    border: 1px solid red;
}

.segunda img {
    width: 30rem;
    padding: 2rem;
}

.segunda p {
    width: 60rem;
    text-align: center;
}

